body > div > div.card-image.waves-effect.waves-block.waves-light > img {
    height: 300px;
    width: auto;
}

.card{
    height: 100vh;
    text-align: center;
}

.card .card-image img {
    display: inline-block;
}
